node_modules/

# Build outputs
/dist/
/built/
/lib/

# TypeScript
*.tsbuildinfo

# Coverage / test
coverage/
.nyc_output/

# Imported test files
tests/importedTests/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env/config
.env*

# Caches & temp
.tmp/
.cache/

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

